<!DOCTYPE html>
<html>
    <title>Demo</title>
    <head>
        
    </head>
    <body>
        <h1>Demo</h1>
        <h6>BETA Version</h6>
        <p>For the <a href="http://jmcauley.ucsd.edu/data/amazon/qa/qa_Electronics.json.gz">electronics dataset of Amazon QA</a>. Built on model developed by <a href="https://github.com/akshayub/community-qa-fact-checking/blob/master/task1/task1.ipynb">this</a>.</p>
        <p>Enter the question to see if it is an open-ended question or a yes/no answer question</p>
        
        <form action="/" method="post">
            <textarea name=question placeholder="Enter question here" style="width:300px; height:150px;"></textarea>
            <br><br>
            <button name=submit> Submit </button>
        </form>
    </body>
</html>

